
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	margin: 0;
	padding: 0;
}

body {
	/*font-family: 'Courier', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	position: relative;
	width: 100vw;
	height: 100vh;
	min-width: 768px;
	background-color: #1a1c24;
}

.block {
	display: inline-block;
	width: 35%;
	height: 90vh;
	overflow-x: hidden;
}

#portfolio-div {
	position: absolute;
	background-color: #313744; /* #355c7d */
	right: 12.5%;
	top: 5vh;
	min-width: 300px;
	border-radius: 3px;
  	box-shadow: 0px 4px 0px 2px rgba(0,0,0,0.1);
	height: 85vh;
}

#portfolio-div #top-line {
	height: 20px;
	width: 100%;
	background-color: #f67280;
}

#portfolio-div #header {
	border-bottom: 1px solid #c06c84;
	width: 85%;
	margin: 25px auto;
	color: #f67280;
	padding: 5px;
	clear: both;
}

#portfolio-div #header h1, #portfolio-div #header h3 {
	display: inline-block;
}

#portfolio-div #header h1 {
	font-size: 15px;

}

#portfolio-div #header h3 {
	font-size: 13px;
	float: right;
}

#portfolio-div #projects-div {
	width: 85%;
	margin: 15px auto;
}

#portfolio-div .single-project {
	border: 1px solid #f67280;
	width: 35%;
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-left: 10%;
	margin-top: 20px; 
	border-radius: 3px;
	/*
-webkit-box-shadow: 7px 7px 1px 0 #000000;
box-shadow: 7px 7px 1px 0 #000000;*/
}

#portfolio-div .single-project h2 {
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: #f67280;
	text-align: center;
	color: #fff;
	font-size: 15px;
	padding: 5px 0px;
	z-index: 6;
}

#portfolio-div .single-project .image {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;

}

#portfolio-div .single-project .new-tab {
	position: absolute;
	top: 0;
	z-index: 5;
	background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    height: 180px;
    width: 100%;
    background-color: rgba(246,114,128,0.5);
    display: none;
}

#tekst-div {
	display: block;
	position: absolute;
	background-color: #313744;
	color: #a6c3d4;
	left: 0;
	right: 0;
	top: 5vh;
	margin: auto;
	min-width: 300px;
	border-radius: 3px;
  	box-shadow: 0px 4px 0px 2px rgba(0,0,0,0.1);
	height: 85vh;
}

#tekst-div pre {
	padding: 10px;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;
	word-wrap: break-word;
}

#tekst-div .line {
	width: 90%;
	height: 1px;
	margin: 0 auto;
	background-color: #424e54;
}

#tekst-div a {
	color: #a6c3d4;
}

#content {
	display: none;
}

#loading {
	width: 100vw;
	height: 100vh;
	position: relative;
	left: 0;
	top: 0;
}

#loading img {
	width: 150px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

#version {
	position: absolute;
	top: 5px;
	right: 15px;
	color: #47494f;
	font-size: 10px;
	text-align: right;
}

#version a {
	text-decoration: underline;
	color: #47494f;
}


/* Scroll */

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #313744; 
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1a1c24; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0f1015; 
}

@media only screen and (max-width: 1385px) 
{
	#tekst-div, #portfolio-div 
	{
		position: relative;
		display: block;
		width: 85%;
		left: 0;
		right: 0;
		margin: 20px auto !important;
		height: 40vh;
		overflow-y: scroll;
	}
}

@media only screen and (max-width: 426px) 
{
	#tekst-div 
	{
		font-size: 19px;
	}
}