
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Courier', sans-serif;
<<<<<<< HEAD
	background-color: #212121;
	color:  #fff;
}

.container {
	width: 75%;
	max-width: 1000px;
	margin: 50px auto;
	text-align: center;
}

h3 {
	font-weight: normal;
	margin-top: 20px;
}

a {
	text-decoration: none;
	color: #4CAF50;
}

a:hover {
	text-decoration: underline;
}
=======
	background-color: #24292e;
	color: #ffffff;
}
>>>>>>> parent of fa9affd... Preparing for future
